<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse head" >
      <a class="navbar-brand" routerLink="/"><img class="logo" src="https://cdn4.iconfinder.com/data/icons/education-learning-1/128/4-512.png" alt=""></a>
    <ul class="navbar-nav ">
      <li class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/favorites']">favorites <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>